## Descripció

Aprèn a realitzar mostreig de les dades amb Python.

## Nivell 1

**- Exercici 1:**
Agafa un conjunt de dades de tema esportiu que t'agradi. Realitza un mostreig de les dades generant una mostra aleatòria simple i una mostra sistemàtica.

Agafem les dades històriques de la lliga nacional de gel dels Estats Units:

https://www.kaggle.com/open-source-sports/professional-hockey-database

Concretament agafem el registre de golejadors: 'Scoring.scv'

In [1]:
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import pandas as pd
import random

Primer generem el DataFrame, retallem la part que ens interesa i omplint els valors nuls:

In [2]:
df_scoring=pd.read_csv('Scoring.csv',encoding='UTF-8')
df_scoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45967 entries, 0 to 45966
Data columns (total 31 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  45967 non-null  object
 1   year      45967 non-null  int64
 2   stint     45967 non-null  int64
 3   tmID      45967 non-null  object
 4   lgID      45967 non-null  object
 5   pos       45385 non-null  object
 6   GP        45699 non-null  float64
 7   G         45699 non-null  float64
 8   A         45699 non-null  float64
 9   Pts       45699 non-null  float64
 10  PIM       45699 non-null  float64
 11  +/-       36265 non-null  float64
 12  PPG       37748 non-null  float64
 13  PPA       23040 non-null  float64
 14  SHG       37744 non-null  float64
 15  SHA       23214 non-null  float64
 16  GWG       36567 non-null  float64
 17  GTG       28106 non-null  float64
 18  SOG       36364 non-null  float64
 19  PostGP    19153 non-null  float64
 20  PostG     19153 non-null  float64
 21  PostA     19094 non-null  float64
 22  PostPts   19094 non-null  float64
 23  PostPIM   19094 non-null  float64
 24  Post+/-   11004 non-null  float64
 25  PostPPG   14492 non-null  float64
 26  PostPPA   8854 non-null   float64
 27  PostSHG   14492 non-null  float64
 28  PostSHA   8855 non-null   float64
 29  PostGWG   15657 non-null  float64
 30  PostSOG   10392 non-null  float64
dtypes: float64(25), int64(2), object(4)
memory usage: 10.9+ MB

In [3]:
df_scoring.head()

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,...,PostA,PostPts,PostPIM,Post+/-,PostPPG,PostPPA,PostSHG,PostSHA,PostGWG,PostSOG
0,aaltoan01,1997,1,ANA,NHL,C,3.0,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,aaltoan01,1998,1,ANA,NHL,C,73.0,3.0,5.0,8.0,...,0.0,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,aaltoan01,1999,1,ANA,NHL,C,63.0,7.0,11.0,18.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,aaltoan01,2000,1,ANA,NHL,C,12.0,1.0,1.0,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,abbeybr01,1975,1,CIN,WHA,D,17.0,1.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
#eliminem columnes amb molts valors nuls
df_scoring.drop(columns=['+/-', 'PPG', 'PPA', 'SHG', 'SHA', 'GWG', 'GTG', 'SOG',
       'PostGP', 'PostG', 'PostA', 'PostPts', 'PostPIM', 'Post+/-', 'PostPPG',
       'PostPPA', 'PostSHG', 'PostSHA', 'PostGWG', 'PostSOG'],inplace=True)

In [5]:
df_scoring.head()

    playerID  year  stint tmID lgID pos    GP    G     A   Pts   PIM
0  aaltoan01  1997      1  ANA  NHL   C   3.0  0.0   0.0   0.0   0.0
1  aaltoan01  1998      1  ANA  NHL   C  73.0  3.0   5.0   8.0  24.0
2  aaltoan01  1999      1  ANA  NHL   C  63.0  7.0  11.0  18.0  26.0
3  aaltoan01  2000      1  ANA  NHL   C  12.0  1.0   1.0   2.0   2.0
4  abbeybr01  1975      1  CIN  WHA   D  17.0  1.0   0.0   1.0  12.0

In [6]:
#Canviem tots els valors nuls per 0 si el registre és float o per unknown si és string
df_scoring.pos.fillna('Unknown', inplace=True)
df_scoring.fillna(0,inplace=True)
df_scoring.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45967 entries, 0 to 45966
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  45967 non-null  object
 1   year      45967 non-null  int64
 2   stint     45967 non-null  int64
 3   tmID      45967 non-null  object
 4   lgID      45967 non-null  object
 5   pos       45967 non-null  object
 6   GP        45967 non-null  float64
 7   G         45967 non-null  float64
 8   A         45967 non-null  float64
 9   Pts       45967 non-null  float64
 10  PIM       45967 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 3.9+ MB

Un cop tenim el DataFrame net, podem procedir al sampling demanat:

In [7]:
#Generem mètodes per a obtenir les mostres de forma aleatòria

def aleatori_sampling(population,samples):#population and sample són integers!
    sampling_list=[]
    i=0
    while i <samples:
        position=int(random.random()*population)
        if position not in sampling_list:
            sampling_list.append(position)
            i+=1
    return sampling_list

In [8]:
sampling_list =aleatori_sampling(df_scoring.shape[0],100)
sample_df=df_scoring.iloc[sampling_list]
sample_df

        playerID  year  stint tmID lgID pos    GP     G     A   Pts    PIM
42729  twistto01  1997      1  STL  NHL   L  60.0   1.0   1.0   2.0  105.0
23849  levinsc01  1997      1  PHO  NHL   R   2.0   0.0   0.0   0.0    5.0
16110  hartscr01  1987      1  MNS  NHL   D  27.0   3.0  16.0  19.0   29.0
16095  hartnsc01  2007      1  PHI  NHL   L  80.0  24.0  19.0  43.0  159.0
29647  murphjo01  1997      2  SJS  NHL   R  10.0   5.0   4.0   9.0   14.0
...          ...   ...    ...  ...  ...  ..   ...   ...   ...   ...    ...
4025    boyddu01  2007      1  CAL  NHL   C  48.0   7.0   5.0  12.0    6.0
29171  morride01  1997      1  CAL  NHL   D  82.0   9.0  20.0  29.0   88.0
23035  lawtobr01  1989      3  BOS  NHL   L   8.0   0.0   0.0   0.0   14.0
8589   dafoeby01  2002      1  ATL  NHL   G  17.0   0.0   0.0   0.0    0.0
41239  taffeje01  2005      2  NYR  NHL   C   2.0   0.0   0.0   0.0    0.0

[100 rows x 11 columns]

Després veig que la mostra aleatoria es pot obtenir directament amb el mètode 'sample' de Pandas:

In [9]:
sample_df2 = df_scoring.sample(100)
sample_df2

        playerID  year  stint tmID lgID pos    GP     G     A   Pts    PIM
7438   connewa01  1975      1  MFS  WHA   R  59.0  24.0  23.0  47.0   19.0
17288  hoffmbo01  1981      1  PHI  NHL   D  57.0   7.0  20.0  27.0  142.0
7070   cloutja01  1982      1  BUF  NHL   G  25.0   0.0   0.0   0.0    0.0
22427  langeda01  1981      1  NYI  NHL   D  73.0   1.0  20.0  21.0   82.0
28601  minorge01  1981      1  VAN  NHL   C  13.0   0.0   1.0   1.0    6.0
...          ...   ...    ...  ...  ...  ..   ...   ...   ...   ...    ...
39114  smithge01  1990      1  EDM  NHL   D  59.0   1.0  12.0  13.0   55.0
21345  kovalal01  1998      1  NYR  NHL   R  14.0   3.0   4.0   7.0   12.0
23219  leclere01  1978      1  IND  WHA   R  22.0   5.0   7.0  12.0   12.0
5671   campbco01  1975      1  PIT  NHL   D  64.0   7.0  10.0  17.0  105.0
5701   campbji01  1997      1  STL  NHL   R  76.0  22.0  19.0  41.0   55.0

[100 rows x 11 columns]

In [10]:
#Generem mètode per a obtenir les mostres de forma sistemàtica
def sistematic_sampling(population,samples):
    sampling_list=[]
    z=population/samples
    position=int(random.random()*z)
    sampling_list.append(position)
    for i in range(1,samples):
        sampling_list.append(int(i*z)+position)
    return sampling_list

In [11]:
sampling_list2 =sistematic_sampling(df_scoring.shape[0],100)
sample_df3=df_scoring.iloc[sampling_list2]
sample_df3

        playerID  year  stint tmID lgID pos    GP     G     A   Pts   PIM
407    amontto01  1991      1  NYR  NHL   R  79.0  35.0  34.0  69.0  55.0
866    arnasty01  2003      1  CHI  NHL   C  82.0  22.0  33.0  55.0  16.0
1326   bailega01  1978      1  EDO  WHA   L  38.0   5.0   4.0   9.0  22.0
1786   bathgan01  1956      1  NYR  NHL   R  70.0  27.0  50.0  77.0  60.0
2245   bellobr01  1998      1  WAS  NHL   L  76.0  17.0  19.0  36.0  26.0
...          ...   ...    ...  ...  ...  ..   ...   ...   ...   ...   ...
44075  watteti01  1993      1  LAK  NHL   D  60.0   1.0   9.0  10.0  67.0
44535  whitftr01  1999      1  WAS  NHL   C   0.0   0.0   0.0   0.0   0.0
44994  wilsori01  1973      1  MTL  NHL   D  21.0   0.0   2.0   2.0   6.0
45454    yipbr01  2011      2  NAS  NHL   R  25.0   3.0   4.0   7.0  20.0
45914  zubovse01  2000      1  DAL  NHL   D  79.0  10.0  41.0  51.0  24.0

[100 rows x 11 columns]

## Nivell 2

**- Exercici 2:**
Continua amb el conjunt de dades de tema esportiu i genera una mostra estratificada i una mostra utilitzant SMOTE (Synthetic Minority Oversampling Technique).

Procedeixo a fer un **mostreig estratificat proporcional** a la base de dades de hoquei que tenim.
Al DataFrame, **considerarem les diferents lligues/competicions com a diferents estrats**:

In [12]:
df_scoring.groupby('lgID').count().sort_values('G')['A']

lgID
WCHL      321
PCHA      404
NHA       586
WHA      2436
NHL     42220
Name: A, dtype: int64

5 estrats diferents = 5 competicions diferents. Hi ha molta diferència de dades entre la NHL i les altres competicions. Abreviatures:

* NHA: National Hockey Association (1909-1918)
* NHL: National Hockey League (1917-....)
* WCHL: West Coast Hockey League (1995-2003)
* PCHA: Pacific Coast Hockey Association (1911-1924)
* WHA: World Hockey Association (1972-1979)

Per extreure un mostreig representatiu de totes les lligues s`ha de fer un mostreig estratificat proporcional.

In [13]:
stratified_sample=df_scoring.groupby('lgID', group_keys=False).apply(lambda x: x.sample(frac=0.1))
stratified_sample

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,PIM
12551,fournja01,1915,1,MOC,NHA,Unknown,9.0,1.0,0.0,1.0,4.0
36036,ronansk01,1912,1,OT1,NHA,Unknown,20.0,18.0,0.0,18.0,39.0
9293,denneco01,1916,2,OT1,NHA,Unknown,6.0,5.0,1.0,6.0,18.0
42905,vairst01,1909,1,COB,NHA,Unknown,12.0,17.0,0.0,17.0,8.0
2616,berlilo01,1912,1,MOC,NHA,Unknown,16.0,4.0,0.0,4.0,14.0
...,...,...,...,...,...,...,...,...,...,...,...
42479,troyji01,1977,1,EDO,WHA,R,47.0,2.0,0.0,2.0,124.0
3115,blockke01,1974,2,IND,WHA,D,37.0,0.0,17.0,17.0,18.0
15467,hallmu01,1974,1,HOU,WHA,R,78.0,18.0,29.0,47.0,28.0
13617,gibsoja01,1973,1,TOT,WHA,L,61.0,16.0,9.0,25.0,60.0
17664,hornula01,1977,1,WIJ,WHA,D,19.0,1.0,4.0,5.0,2.0

In [14]:
stratified_sample.groupby('lgID').count().sort_values('A')['A']

lgID
WCHL      32
PCHA      40
NHA       59
WHA      244
NHL     4222
Name: A, dtype: int64

Veiem que s'ha mostrejat agafant un 10% de la població total mantenint les proporcions dels estrats

Procedim a a fer un **mostrejat amb SMOTE**:

In [15]:
from collections import Counter
from imblearn.over_sampling import SMOTENC

In [16]:
sm = SMOTENC(random_state=42, categorical_features=[0])
X=df_scoring[['lgID','G','A']].sample(10000) #estudiem relació gols (G) i assistencies (A) per equip.
y=list(X['lgID'])

In [17]:
X.shape #tamany de la mostra: conté 10000 registres diferents amb 3 atributs per registre (1 categòric).

(10000, 3)

In [18]:
Counter(y)

Counter({'NHL': 9180, 'WCHL': 62, 'PCHA': 80, 'WHA': 540, 'NHA': 138})

Clarament hi ha un desbalanç entre les lligues. Mitjançant Smotenc generem dates per ígualar el número de registres per cada equip, generarà valors en funció dels valors veinals. En aquest cas segurament no té massa lògica...

In [19]:
X_res, y_res = sm.fit_resample(X, y)

In [20]:
X_res.shape

(45900, 3)

In [21]:
Counter(y_res)

Counter({'NHL': 9180, 'WCHL': 9180, 'PCHA': 9180, 'WHA': 9180, 'NHA': 9180})

Es genera un nou conjunt de dades on tots els equips tenen igual nombre de registres.

Formació mostreig estratificat: 
* https://tesisdeceroa100.com/muestreo-estratificado-ejemplo-explicado-paso-a-paso/
* https://www.geeksforgeeks.org/stratified-sampling-in-pandas/

Formació SMOTE (amb Machine Learning):
* https://towardsdatascience.com/applying-smote-for-class-imbalance-with-just-a-few-lines-of-code-python-cdf603e58688
* https://medium.com/analytics-vidhya/balance-your-data-using-smote-98e4d79fcddb

Exemple de referència amb SMOTENC:https://imbalanced-learn.org/dev/references/generated/imblearn.over_sampling.SMOTENC.html

## Nivell 3

**- Exercici 3:**
Continua amb el conjunt de dades de tema esportiu i genera una mostra utilitzant el mètode Reservoir sampling.

Video ilustrador :
    https://youtu.be/A1iwzSew5QY

Teoria y codi python:
    https://www.geeksforgeeks.org/reservoir-sampling/

In [22]:
def reservoir_sampling(population, samples): #Entrada= # d'elements a la població i # d'elements a la mostra       
        cont=0;
        reservoir = [0]*samples #generem llista amb 0 per a seguidament canviar-los
        for i in range(samples):
            reservoir[i] = i
    
        while(cont < population):
            # Agafa un numero aleatori d'un rang que va creixent de 0 a population-1
            j = random.randrange(cont+1)
             
            # Si el número aleatori j és menor que el número d'elements al sampling (=samples), llavors canviarà la posició obtinguda j 
            # amb el valor de cont. Si j és major que samples, llavors no canvia la llista reservoir i suma un a cont 
            
            if(j < samples):
                reservoir[j] = cont
            cont+=1;
         
        return reservoir #retorna l'index del Reservoir sampling

In [23]:
# Aplicat a la base de dades de Hockey (tamany del sampling=100)
 
reservoir_Sample_df=df_scoring.iloc[reservoir_sampling(df_scoring.shape[0],100)]
reservoir_Sample_df

,playerID,year,stint,tmID,lgID,pos,GP,G,A,Pts,PIM
30740,noonabr01,1996,2,NYR,NHL,R,44.0,6.0,9.0,15.0,28.0
40232,stewabl01,1973,1,DET,NHL,L,17.0,0.0,4.0,4.0,16.0
36169,rousebo01,1986,1,MNS,NHL,D,72.0,2.0,10.0,12.0,179.0
44023,watsoji01,1973,2,CHC,WHA,D,23.0,0.0,5.0,5.0,22.0
24616,lumleda01,1983,1,EDM,NHL,R,56.0,6.0,15.0,21.0,68.0
...,...,...,...,...,...,...,...,...,...,...,...
32778,pettejo01,1983,1,STL,NHL,L,77.0,28.0,34.0,62.0,29.0
25680,mandeke01,1999,1,CAR,NHL,C,56.0,1.0,4.0,5.0,12.0
8120,crawfru01,1913,1,QU1,NHA,Unknown,19.0,15.0,10.0,25.0,14.0
22132,laforcl01,1960,1,DET,NHL,L,10.0,1.0,0.0,1.0,2.0
4011,boychjo01,2009,1,BOS,NHL,D,51.0,5.0,10.0,15.0,43.0

In [24]:
reservoir_Sample_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 100 entries, 30740 to 4011
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   playerID  100 non-null    object
 1   year      100 non-null    int64
 2   stint     100 non-null    int64
 3   tmID      100 non-null    object
 4   lgID      100 non-null    object
 5   pos       100 non-null    object
 6   GP        100 non-null    float64
 7   G         100 non-null    float64
 8   A         100 non-null    float64
 9   Pts       100 non-null    float64
 10  PIM       100 non-null    float64
dtypes: float64(5), int64(2), object(4)
memory usage: 9.4+ KB

Es mostreja de forma més ràpida sense revisar si els valors ja estaven a la llista degut a la metodologia de selecció dels registres. Aquesta metodologia també assegura que la provabilitat d'escollir un registre o un altre és igual per a tots els registres.